* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #E3EFE5;
}


.header {
  background-image: url(images/Shelfie-Header.png);
  background-repeat: no-repeat;
  background-position: center 7vh;
  background-size: contain;
  height: 30vh;
  width: 100vw;
}
